<h1>Discussion: <%= @discussion.title %></h1>
<hr>

<div>
  <%= @discussion.body %>
</div>
<hr>
<div>
  <%= link_to "Comment", new_discussion_comment_path(@discussion) %>
</div>
<hr>
<div>
  <% @comments.each do |f| %>
    <%= f.body %>
    <% if can? :edit, f %>
      <%= link_to "Edit", edit_discussion_comment_path(@discussion,f) %>
      <%= link_to "Delete", discussion_comment_path(@discussion,f), method: :delete %>
    <% end %>
  <% end %>
</div>
