<%= form_for @user, url: update_user_password_path, method: :patch do |f| %>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password %>
  </div>
  <div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation%>
  </div>
  <%= f.submit "Change My Password" %>
<% end %>
