<div>
  <h1><%= @project.title %><h1>
  <br>
  <%= @project.description %>
  <br>
  <%= @project.due_date %>
</div>

<div>
  <%= link_to "Edit", edit_project_path(@project) %>
  <br>
  <%= link_to "Delete", project_path(@project), method: :delete, data:{confirm: "Are you sure?"}%>
  <br>
  <%= link_to "Favourite", project_favourite_projects_path(@project), method: :POST %>
  <br>
  <%= link_to "Unfavourite", project_favourite_project_path(@project,@favourite_project), method: :delete %>
  <hr>
</div>

<div>
  <!-- <% link_to "Add Tasks", new_project_task_path(@project) %> -->
  <%= render "/tasks/form" %>
</div>
<hr>

<div id="finished-tasks">
  <h4>Finished Tasks</h4>
  <% @tasks.each do |f| %>
    <% if f.done %>
      <%= render "/tasks/task", f: f%>
    <% end %>
  <% end %>
</div>
<div id="unfinished-tasks">
  <h4>Unfinished Tasks</h4>
  <% @tasks.each do |f| %>
    <% if !f.done %>
      <%= render "/tasks/task", f: f %>
    <% end %>
  <% end %>
</div>
